body {
    direction: rtl;
    /*background-image: url("/src/Capture_Fgfwe.PNG");*/
    background-color: aquamarine;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Fonts style  */
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 900;
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Black.eot');
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Bold.eot');
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Medium.eot');
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Light.eot');
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_UltraLight.eot');
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb.eot');
    src: url('https://files.see5.net/support/default/fonts/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('https://files.see5.net/support/default/fonts/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('https://files.see5.net/support/default/fonts/IRANSansWeb.ttf') format('truetype');
}

:root{

    /* Operator messages color */
    --message-back-color: rgb(16,73,205);
    --message-for-color: white;
    /* END Operator messages color */

    /* Form Colors */
    --form-input-for-color: rgb(255, 255, 255);
    --form-input-placeholder-color: rgb(201, 201, 201);
    --form-input-error-border-color : red;
    --form-input-success-border-color : #4caf50;
    --form-input-none-border-color : #ccc;
    /* END Form Colors */

    /* Box Chat Colors */
    --chat-back-color: #fff;
    /* END Box Chat Colors */

    /* Self Messages Color */
    --message-self-back-color: #f0f2f5;
    --message-self-for-color: #000;
    /* END Self messages Color */

    /* Send Icon Color  */
    --send-icon-back-color: rgb(16,73,205);
    --send-icon-for-color: white;
    /* END Send Icon Color  */


}


#spadChat{
    width:  0;
    height: 0;
    display: block;
    position: fixed;
    right: 50px;
    bottom: 0px;
    z-index: 9999;
}

#chat_box{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

#chat_container{
    height: 80vh;
    width: 400px;
    position: fixed;
    /* bottom: inherit; */
    display: none;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 30px 2px rgba(0,0,0,0.33); 
    box-shadow: 5px 5px 30px 2px rgba(0,0,0,0.33);
    visibility: hidden;
    opacity: 0;
    bottom: -100%;
    transition: 0.5s ease-in-out;
}

#header_chat_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
    position: relative;
    padding: 10px 13px;
    background-color: var(--message-back-color);
    color: var(--message-for-color);
    height: 250px;
    transition: 1s;
}
.op_logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
#operator{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

#close_chat > div{
    cursor: pointer;
}
#chat_logos{
    position: relative;
    height: 100%;
    margin: 0 auto;
}
#chat_logos_container{
    width: 100%;
    height: 40px;
    position: relative;
}
.chat_logo{
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat_logo img{
    width: inherit;
    height: inherit;
    border-radius: 100%;
    border: white 2px solid;
}
#header_box_icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 25px;
    gap: 5px;
    background-color: #27009b;
    border-radius: 16px;
    cursor: pointer;
    font-family: IRANSans;
}

#header_box_icon .icon{
    width: 15px;
}

#header_box_icon .icon img{
    width: 100%;
    height: 100%;
}

#header_box_icon .text{
    font-size: 12px;
}
#close_chat div{
    position: absolute;
    cursor: pointer;
    top: 20px;
    left: 20px;
    z-index: 999;
}
#close_chat svg{
    width: 13px;
    height: 13px;
    fill: white;
}

#chat_title{
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    gap: 10px;
    font-family: IRANSans;
}
.title-name{
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
}
.title-description{
    font-size: 14px;
    opacity: 0.8;
    font-weight: 300;
    text-align: center;
}
#chat_body{
    height: 100%;
    padding-top: 15px;
    padding-bottom: 30px;
    position: relative;
    overflow-x: hidden;
    background-color: var(--chat-back-color);
}
#chat_body .message {
    width: 100%;
    display: block;
    direction: rtl;
    position: relative;
    margin-bottom: 7px;
}
.message::before , .message::after{
    content: "";
    display: table;
}
.message::after{
    clear: both;
}
.message_text::before{
    /*content: " ";*/
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: -4px;
    height: 18px;
    width: 16px;
    background: var(--chat-back-color);
    border-bottom-right-radius: 30px;
    -webkit-transform: translate(0,-2px);
}
.message_text::after{
    /*content: " ";*/
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 16px;
    height: 20px;
    background: var(--chat-back-color);
    border-bottom-right-radius: 10px;
    -webkit-transform: translate(-20px,-2px);
}

#chat_body .right .message_text::before{
    z-index: 3;
    bottom: 0;
    right: -4px;
    height: 18px;
    left: auto;
    border-radius: 0;
    border-bottom-left-radius: 30px;
    -webkit-transform: translate(0,-2px);
    box-shadow: 4px 6px 7px -5px rgb(0 0 0 / 30%);
    background: #fff;
    width: 16px;
    border-left-color: #f3f4f7;
}

#chat_body .right .message_text::after{
    z-index: 4;
    bottom: -2px;
    right: -36px;
    width: 16px;
    height: 20px;
    left: auto;
    background: var(--chat-back-color);
    border-radius: 0;
    border-bottom-left-radius: 10px;
    -webkit-transform: translate(-20px,-2px);
    box-shadow: inset 2px 0 3px -3px rgb(0 0 0 / 45%);
}

#chat_body .right .message_text{
    background: var(--message-self-back-color);
    color: #444;
    margin-right: 15px;
    margin-left: 0;
    float: right;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%);
}
.left .message_text::before{
    background: var(--message-back-color);
}
#chat_body .left .message_text{
    background: var(--message-back-color);
    color: var(--message-for-color);
    margin-left: 50px;
}
#chat_body .message_text{
    border-radius: 22px;
    position: relative;
    padding: 10px 15px;
    background: #00bcd4;
    color: #fff;
    border: 0;
    margin: 0 0 5px 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    display: inline-block;
    float: left;
    max-width: calc(100% - 75px);
    font-family: IRANSans;
    font-size: 13px;
}
#chat_body .message_img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    object-fit: cover;
    position: absolute;
    z-index: 6;
    bottom: 6px;
}

#chat_body .left .message_img {
    left: 10px;
}

#chat_footer{
    background-color: white;
    max-height: 40vh;
    padding: 5px 10px;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
    transition: height 1s ;
}
#send_message_box{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    padding: 5px;
    position: relative;
}
.text_area_container{
    width: 100%;
    display: flex;
    overflow: auto;
}
#messageInputText{
    width: 87%;
    height: 32px;
    resize: none;
    overflow-y: hidden;
    max-height: 400px;
    border: 0;
    padding: 0 7px;
    margin: 0 5px;
    font-family: IRANSans;
}
#messageInputText:focus{
    border: none !important;
    outline: 0 !important;
    box-shadow: unset !important;
}

.emoji_box img{
    width: 35px;
}
#send_icon{
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.35s ease-in-out;
}
#send_icon span{
    padding: 10px;
    background-color: var(--send-icon-back-color);
    position: absolute;
    left: 10px;
    top: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.iconShow{
    visibility: visible !important;
    opacity: 100% !important;
}
#send_icon svg{
    width: 15px;
    cursor: pointer;
    transform: scale(-1);
    fill: var(--send-icon-for-color);
}
#chat_icon{
    position: fixed;
    right: inherit;
    cursor: pointer;
    bottom: -100%;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
}
#chat_icon img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    object-fit: cover;
}


#powered_by{
    float: left;
    padding: 10px 0;
    font-family: IRANSans;
    user-select: none;
    font-size: 12px;
    color: gray;
    text-align: center;
}
#powered_by a{
    color: #444;
    text-decoration: none;
    transform: 0.5s;
}
#powered_by a:hover{
    color: rgb(73, 73, 73);
}
#under_footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;

}
#emInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
#emojiBox{
    overflow: hidden;
}
#emojiIcon{
    width: 25px;
    cursor: pointer;
    transition: 0.5s;
}
#otherEmojis{
    height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
    /* visibility: hidden; */
    /* opacity: 0; */
    position: relative;
    transition: 0.2s ;
    justify-content: center;
    max-height: 130px;
}
#emojiContainer{
    overflow: hidden;
}
.emContainer{
    position: relative;
    overflow: hidden;
    max-height: 200px;
}
.openedEmojisBox{
    /* visibility: visible !important;
    opacity: 100% !important; */
    height: 100vh !important; 
}
#otherEmojis > div{
    flex: 0 0 8%;
    cursor: pointer;
}
/* width */
::-webkit-scrollbar {
    /*width: 20px;*/
    /*border-radius: 10px;*/
    width: 10px;
    transition: 0.5s;
}

/* show and hide animation */
.chat_box_show{
    opacity: 100% !important;
    visibility: visible !important;
    bottom: inherit !important;
}
.show_icon{
    bottom: inherit !Important;
    opacity: 100% !important;
    visibility: visible !important;
}
#chat_body .formInput{
    left: -100% ;
    transition: opacity 0s , left 1s  ;
    display: none;
}
#chat_body .formInputShow{
    left: 0  !important;
}
#chat_body .formInput .message_text{
    display: flex;
    flex-direction: column;
    border-radius: 17px;
    gap: 10px;
}
#chat_body .formInput .formTitle{
    padding: 10px 0;
    font-size: 14px;
}
#chat_body .formInput .message_text .inputBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    font-size: 13px;
}
.formInput :focus{outline: none;}

/* necessary to give position: relative to parent. */
.formInput input[type="text"]{ width: 100%; box-sizing: border-box; white-space: normal;}

.formInput :focus{outline: none;}

#chat_body .innerInput{
    position: relative; 
    white-space: normal;
} /* necessary to give position: relative to parent. */
.formInput input[type="text"]{ 
    width: 100%; 
    box-sizing: border-box; 
    background: transparent; 
    color: var(--message-for-color);
}
.formInput input::placeholder{
    color: var(--form-input-placeholder-color);
}
.formInput input{
    color: var(--form-input-for-color);
}

.effect-1, 
.effect-2, 
.effect-3{border: 0; padding: 7px 0; border-bottom: 1px solid var(--form-input-none-border-color);}

.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 0; width: 0; height: 2px; background-color: var(--form-input-success-border-color); transition: 0.4s;}
.effect-1:focus ~ .focus-border{width: 100%; transition: 0.4s;}
.inputError{
    background-color: var(--form-input-error-border-color) !important;
}

#sendFormData{
    width: 50%;
    align-self: center;
    border: 0;
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    background-color: #00bcd4;
    cursor: pointer;
    transition: 0.5s;
}
#sendFormData:hover , #sendFormData:focus{
    background-color: #12a1b4;
}


/* Track */
#chat_body-::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #484848;

}

/* Handle */
#chat_body::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    width: 10px;
    border-radius: 40px;
}

/* Handle on hover */
#chat_body::-webkit-scrollbar-thumb:hover {
    background: #444444;
}



@media screen and (max-height: 720px) {
    #chat_container{
        width: 320px;
    }
    #powered_by{
        padding: 0;
    }
}

@media screen and (min-height: 720px) {
    #chat_container{
        width: 360px;
    }
}


@media screen  and (min-height: 840px){
    #chat_container{
        width: 400px;
    }
}


/* input animation */

